.my-tbl
{
    border-top: none;
}

.my-tbl tbody
{
    display:block;
    overflow:auto;
}

.my-tbl thead,
.my-tbl tbody tr
{
    display:table;
    width:100%;
    table-layout:fixed;
}

.my-tbl thead
{
    width: calc( 100% - 1.35em )
    /* width: calc( 100% - 0em )*/
}


.my-tbl > .table > thead > tr > th
{
    /*border-bottom: 1px solid #000 !important;*/
    border-bottom: none;
}

input
{
    text-align:right;
    background-color: #fff !important;
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}


.panel-body {
    padding: 15px;
}



.raised-block {
    background-color: #f5f3f3;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 15px;
    background-color: gainsboro;
    /*padding: 40px;*/
}
@media (max-width: 33.9em){
    .raised-block {
        margin-left: -0.625rem;
    }
}
.row [class^="col-"]:first-child>.raised-block {
// this is so the first column has no margin so it will not be "indented"
margin-left: -0.625rem;
}

@media only screen and (min-width: 768px)
{
    .raised-block {
        padding: 40px;
    }
}

@media only screen and (max-width: 992px)
{
    .raised-block {
        padding: 30px;
    }
}

@media only screen and (max-width: 768px)
{
    .raised-block {
        padding: 20px;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .center {
        text-align: center;
    }
}

@media only screen and (max-width: 576px)
{
    .raised-block {
        padding: 10px;
    }
}

.table th
{
 border-top:0px solid #dee2e6; !important;
}











